
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    font-family: 'Segoe UI', sans-serif;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}


.gallery-img:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}


#modalImage {
    animation: zoomIn 0.4s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
